<div class="container-fluid" style="min-height: 110svh;">
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-10 col-lg-8">
			<app-ricerca-utenze (onSearchButtonPressed)="handleSearchUserBtnPress($event)" outgoingDataUrl="http://localhost:4242/users/" (onFormDataAvailable)="handleIncomingFormData($event)"></app-ricerca-utenze>
			
			@if (isLoading){
				<app-spinner></app-spinner>handleData
			}
			<div #table>
				@if(fetchedData != undefined && !isLoading){
					<div class="mt-5 t-wrap">
						<app-table [basicValue]="fetchedData" [tableConfig]="tableConfig"></app-table>
					</div>
					<app-pagination
						[isTableLoaded]="isTableLoaded"
						[currentPage]="paginationInfo.page"
						[elementsPerPage]="paginationInfo.size"
						[totalElements]="paginationInfo.totalElements"
						[numberOfPages]="paginationInfo.numberOfPages"
						[retrievedElements]="paginationInfo.retrievedElements"
						(elementsPerPageSwitch)="changePageSize($event)"
						(pageSelected)="changePageNumber($event)">
					</app-pagination>
					
					@if (!isTableLoaded){
						<h1 class="text-danger">No data Found !</h1>
					}
				}
			</div>	
		</div>
	</div>
</div>