<div class="container-fluid" style="min-height: 100svh;">
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-10 col-lg-8">
			<app-ricerca-utenze (onSearchButtonPressed)="handleSubmit($event)" outgoingDataUrl="http://localhost:3000/users" (onFormDataAvailable)="handleData($event)"></app-ricerca-utenze>
			
			@if (isLoading){
				<app-spinner></app-spinner>
			}
				
			@if(fetchedData != undefined && !isLoading){
				<div class="mt-5">
					<app-table [basicValue]="fetchedData"></app-table>
				</div>
				<app-pagination
					[isTableLoaded]="isTableLoaded"
					[currentPage]="paginationInfo.page"
					[elementsPerPage]="paginationInfo.size"
					[totalElements]="paginationInfo.totalElements"
					[numberOfPages]="paginationInfo.numberOfPages"
					[retrievedElements]="paginationInfo.retrievedElements"
					(elementsPerPageSwitch)="changePageSize($event)"
					(pageSelected)="makePaginationRequest($event)">
				</app-pagination>
				
				@if (!isTableLoaded){
					<h1 class="text-danger">No data Found !</h1>
				}
			}
		</div>
	</div>
</div>