<ng-template #content let-modal>
	<div class="modal-header">
		<h4	class="modal-title text-primary" id="modal-basic-title">{{modalTitle}}</h4>
		<button	type="button" class="btn-close"	aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		@if	(userformService.weHaveResponse	!= null){
			<div class="conatiner-fluid">
				<div class="row">
					<div class="col-12">
						@if	(userformService.weHaveResponse	== true){
							<div class="alert alert-success" role="alert">
								Utente creato con <b>Successo</b>.
							</div>
						}
						@else{
							<div class="alert alert-danger"	role="alert">
								{{userformService.weHaveResponse}}
							</div>
						}
					</div>
				</div>
			</div>
		}
		@if	(showForm){
			<app-dynamic-form
				[basicValue]="this.userformService.formMetaData"
				[contentLoaded]="this.userformService.contentLoaded"
				[formBtn]="modalBtn"
				(formData)="createUser($event)"
			></app-dynamic-form>
		}
	</div>
	<div class="modal-footer">

	</div>
</ng-template>


@if	(icon != null){
	<button (click)="open(content)"	class="btn btn-primary btn-icon	btn-me {{btnStyle}}">
		<span>{{modalBtn}}</span>
		<svg class="icon icon-white	ms-1"><use attr.xlink:href="/assets/svg/sprites.svg#it-{{icon}}"></use></svg>
	</button>
}@else{
	<button	class="{{btnStyle}}" (click)="open(content)">{{modalBtn}}</button>
}
