<div class="card-wrapper mt-md-3">
    <div class="card rounded-3 shadow">
      <div class="card-body">
        <div class="container mb-4">
          <div class="row">
            <div class="col-11 col-sm-7 p-0">
              <h4 class="text-primary">{{'searchParams' | translator:languageServices.currentLanguage}}</h4>
            </div>
            <div class="col-1 col-sm-5">
              <button class="btn btn-primary float-end d-flex align-items-center p-2">
                <span class="d-none d-md-block">AGGIUNGI UTENTE</span>
                <svg class="ms-0 ms-md-2 icon icon-sm icon-white"><use href="/assets/svg/sprites.svg#it-plus" xlink:href="/assets/svg/sprites.svg#it-plus"></use></svg>
              </button>
            </div>
          </div>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Nome e Cognome</a></li>
            <li class="nav-item"><a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Codice Fiscale</a></li>
            <li class="nav-item"><a class="nav-link" id="tab3-tab" data-bs-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Email</a></li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane p-4 fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
              @if(outgoingDataUrl != null){
                <app-dynamic-form [contentLoaded]="true" (dataAsked)="handleSubmit($event)" (formData)="catchData($event)" formBtn="CERCA" [basicValue]="form1"></app-dynamic-form>
              }
            </div>
            <div class="tab-pane p-4 fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
              @if(outgoingDataUrl != null){
                <app-dynamic-form [contentLoaded]="true" (dataAsked)="handleSubmit($event)" formBtn="CERCA" (formData)="catchData($event)" [basicValue]="form2"></app-dynamic-form>
              }
            </div>
            <div class="tab-pane p-4 fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
              @if(outgoingDataUrl != null){
                <app-dynamic-form [contentLoaded]="true" (dataAsked)="handleSubmit($event)" formBtn="CERCA" (formData)="catchData($event)" [basicValue]="form3"></app-dynamic-form>
              }
            </div>
          </div>
      </div>
    </div>
</div>