<header class="it-header-wrapper">
	<div class="it-header-slim-wrapper primary-bg-a11">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="it-header-slim-wrapper-content">
						<img class="icon" src="/assets/svg/italiaLogo.svg" alt="">
						<a class="d-none d-lg-block navbar-brand" href="#">V.1.3.0 Governo Italiano</a>
						<div class="nav-mobile">
							<nav aria-label="Navigazione secondaria">
								<a class="it-opener d-lg-none" data-bs-toggle="collapse" href="#menuC1" role="button" aria-expanded="false" aria-controls="menuC1">
									<span>Ente appartenenza</span>
									<svg class="icon" aria-hidden="true"><use href="/assets/svg/sprites.svg#it-expand"></use></svg>
								</a>
							</nav>
						</div>
						<div class="it-header-slim-right-zone">
							<div class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<span class="visually-hidden">Selezione lingua: lingua selezionata</span>
									<span>ITA</span>
									<svg class="icon d-none d-lg-block"><use href="/assets/svg/sprites.svg#it-expand"></use></svg>
								</a>
								<div class="dropdown-menu">
									<div class="row">
										<div class="col-12">
											<div class="link-list-wrapper">
												<ul class="link-list">
													<li><a class="dropdown-item list-item" href="#"><span>ITA <span class="visually-hidden">selezionata</span></span></a></li>
													<li><a class="dropdown-item list-item" href="#"><span>ENG</span></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="it-access-top-wrapper">
								<a class="btn btn-primary btn-sm" href="#">Accedi</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="it-nav-wrapper">
		<div class="it-header-center-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="it-header-center-content-wrapper">
							<div class="it-brand-wrapper">
								<a href="#">
									<img class="icon img-fluid" src="/assets/imgs/maseLogo.png" alt="">
									<div class="it-brand-text">
										<div class="it-brand-title">
											<h2>
												Ministero dell'Ambiente e della Sicurezza Energetica
											</h2>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="it-header-navbar-wrapper primary-bg-a8">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!--start nav-->
						<nav class="navbar navbar-expand-lg has-megamenu" aria-label="Navigazione principale">
							<button class="custom-navbar-toggler" type="button" aria-controls="navC1" aria-expanded="false" aria-label="Mostra/Nascondi la navigazione" data-bs-toggle="navbarcollapsible" data-bs-target="#navC1">
								<svg class="icon">
									<use href="/assets/svg/sprites.svg#it-burger"></use>
								</svg>
							</button>
							<div class="navbar-collapsable" id="navC1" style="display: none;">
								<div class="overlay" style="display: none;"></div>
								<div class="close-div">
									<button class="btn close-menu" type="button">
										<span class="visually-hidden">Nascondi la navigazione</span>
										<svg class="icon">
											<use href="/assets/svg/sprites.svg#it-close-big"></use>
										</svg>
									</button>
								</div>
								<div class="menu-wrapper">
									<ul class="navbar-nav" #navbarLinks>
										<li class="nav-item"><a class="nav-link" [routerLink]="['/gestione-utenze']" aria-current="page">Gestione Utenze</a></li>
										<li class="nav-item"><a class="nav-link" [routerLink]="['/gestione-ambiente']" aria-current="page">Gestione Ambiente</a></li>
									</ul>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</header> 