@if	(!tableService.contentLoaded){
	<app-spinner size="x-large"></app-spinner>
}
@if	(tableService.objs.length >	0){
	<div [@inOutAnimation] id="infoTable"	class="table-responsive" style="border-radius: 10px;">
		<table class="table	table-striped table-borderless rounded-2 algin-middle">
			<thead class="table-dark">
					<tr>
						@if(tableConfig.hasCheckBox){
							<th	scope="col">#</th>
						}
						@for(key of tableService.objsKeys; track key){
							@if	(key !== '_id'){
								<th	scope="col">{{key}}</th>
							}
						}
						@if(tableConfig.type != null){
							<th	scope="col"></th>
						}
					</tr>
			</thead>
			<tbody>
				<!-- scorro	la lista di oggetti	che	contengole le informazioni -->
				@for (obj of tableService.objs;	track obj; let i = $index){
					<tr>
						<!-- controllo se e' necessario	aggiungere checkbox	-->
						@if(tableConfig.hasCheckBox){
							<td>
								<div>
									<div class="form-check">
									  <input (change)="updateSelected($event)" id="checkbox-{{tableService.objs[i]['_id']}}" type="checkbox">
									  <label class="m-0" for="checkbox-{{tableService.objs[i]['_id']}}"></label>
									</div>
								</div>	
							</td>
						}
						<!-- scorro	la lista che contiene le chiavi	che	verrano	poi	usate per accedere all'oggetto -->
						@for(key of tableService.objsKeys; track key){
							@if	(key !== '_id'){
								<td	style="text-align: start; vertical-align: middle;">
									@if	(key == 'status'){
										@if	(obj[key] == true){
											<div class="chip chip-success chip-lg chip-simple">
												<span class="chip-label">Abilitato</span>
											</div>
										}
										@else{
											<div class="chip chip-danger chip-lg chip-simple">
												<span class="chip-label">Disabilitato</span>
											</div>
										}
									}
									@else{
										{{obj[key]}}
									}
								</td>
							}
						}
						<!-- controllo se e' necessario	aggiungere bottoni o link -->
						@if(tableConfig.type == "button"){
							<td>
								<button	class="btn btn-primary p-2">{{tableConfig.text}}</button>
							</td>
						}
						@if(tableConfig.type == "link"){
							<td>
								<a class="btn btn-primary btn-xs btn-icon ms-1" [routerLink]="['/gestione-utenti/dettaglio-utente/']" [queryParams]="{id: obj['_id'], }">
									<span>{{tableConfig.text}}</span>
									<svg class="icon icon-white ms-1"><use href="/assets/svg/sprites.svg#it-search"></use></svg>
								</a>
							</td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
}