<div class="container-fluid p-5">
    <div class="row justify-content-center">
        @switch (size) {
            @case ('large') {
                <div class="col-6 col-lg-3">
                    <div class="progress-spinner progress-spinner-active size-lg">
                      <span class="visually-hidden">Caricamento...</span>
                    </div>
                </div>     
            }
            @case ('x-large') {
                <div class="col-6 col-lg-3 mt-3 mt-lg-0">
                    <div class="progress-spinner progress-spinner-active size-xl">
                      <span class="visually-hidden">Caricamento...</span>
                    </div>
                </div>      
            }
            @case ('xx-large') {
                <div class="col-6 col-lg-3 mt-3 mt-lg-0">
                    <div class="progress-spinner progress-spinner-double size-xl progress-spinner-active">
                      <div class="progress-spinner-inner"></div>
                      <div class="progress-spinner-inner"></div>
                      <span class="visually-hidden">Caricamento...</span>
                    </div>
                </div>
            }
        }
    </div>
</div>
